<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ejemplo 1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>

</head>


<div class="container-fluid mt-3" id="app">
    <input type="text" id="1" class="form-control" v-model="criterioDeBusqueda1"
        placeholder="Busqueda por nombre" >

    <div class="alert alert-warning" role="alert" v-if="ingresoCantMinima.criterio1">
            Ingrese al menos 3 caracteres para realizar la busqueda
     </div>

     <br>

     <input type="text" id="2" class="form-control" v-model="criterioDeBusqueda2"
     placeholder="Busqueda por DNI" >

    <div class="alert alert-warning" role="alert" v-if="ingresoCantMinima.criterio2">
         Ingrese al menos 3 caracteres para realizar la busqueda
    </div>
  
    <br>
    <div class="card-deck m-0">
        <div class="row">
            <div class="col" v-for="persona in personasFiltradas">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{getNombreCompleto(persona)}}</h5>
                        <p class="card-text">dni {{persona.dni}}</p>
                        <a href="#" class="card-link">{{persona.correo}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</html>

<script>
    new Vue({
        el: '#app',
        data: {
            criterioDeBusqueda1: '',
            criterioDeBusqueda2: '',
           
            //Aquí, en este array es donde tienen que agregar su información
            personas: [
                        {
                            nombre: "Daniel",
                            apellido: "Sanchez",
                            correo: "danielsanchez68@hotmail.com",
                            dni: "20442873"
                        },
                        {
                            nombre: "Juan",
                            apellido: "Perez",
                            correo: "j@p.gmail.com",
                            dni: "12345678"
                        },
                        {
                            nombre: "Ana",
                            apellido: "Suarez",
                            correo: "a@s.gmail.com",
                            dni: "87654321"
                        },
                        {
                            nombre: "Ignacio",
                            apellido: "Guerrero",
                            correo: "ignaguer98@gmail.com",
                            dni: "41646299"
                        },
                    ]
        },
        computed: {
            personasFiltradas() {
                if((this.criterioDeBusqueda1.length >= 3 ) ||
                    (this.criterioDeBusqueda2.length >= 3 )){
                return this.personas.filter((persona) => {
                    let regNombreApellido = `${persona.nombre} ${persona.apellido} `
                    let regDNI = ` ${persona.dni}`
                    return regNombreApellido.toLowerCase().includes(this.criterioDeBusqueda1.toLowerCase()) 
                        && regDNI.toLowerCase().includes(this.criterioDeBusqueda2.toLowerCase())                   
                });
            }else {return this.personas}
            },
            ingresoCantMinima(){
                console.log(this.criterioDeBusqueda1.length)
                return {
                    criterio1 : this.criterioDeBusqueda1.length < 3  && this.criterioDeBusqueda1.length >0,
                    criterio2 : this.criterioDeBusqueda2.length < 3  && this.criterioDeBusqueda2.length >0,
                }      
            }
        },
        methods: {
            getNombreCompleto(persona) {
                return `${persona.nombre} ${persona.apellido}`
            },

            getCant(crit){
                let a =crit.split("")
                let cant= 0
                a.forEach(a => {
                    cant++
                });
                return cant
            }

        }
    });
</script>

